<div class="card mw-100 w-50 p-4 m-5">
  <div class="card-body">
    <h2 class="card-title">New Fine</h2>
    <%= form_tag fines_path, :method => :post, :class => 'form card-text' do %>
      <%= render partial: "shared/message", locals: { object: @fine } %>
      <div class="mb-3">
        <%= label :fine, :reason, 'Reason', :class => 'form-label' %>
        <%= text_field :fine, :reason, :class => 'form-control', placeholder: "Driving over speed limit" %>
      </div>
      <div class="mb-3">
        <%= label :fine, :place, 'Place', :class => 'form-label' %>
        <%= text_field :fine, :place, :class => 'form-control', placeholder: "Tirane" %>
      </div>
      <div class="mb-3">
        <%= label :fine, :issue_time, 'Issue Time', :class => 'form-label' %>
        <%= datetime_select :fine, :issue_time, :class => 'form-control w-100'%>
      </div>
      <div class="mb-3">
        <%= label :fine, :amount, 'Amount', :class => 'form-label' %>
        <%= text_field :fine, :amount, :class => 'form-control'%>
      </div>
      <div class="mb-3 d-block w-100">
        <%= label :fine, :vehicle_id, 'Vehicle', :class => 'form-label' %>
        <%= select :fine, :vehicle_id, Vehicle.all.map{|vehicle| [vehicle.plate_number + " - " + vehicle.user.name + " " + vehicle.user.surname, vehicle.id]}, {}, { :class => 'form-control d-block w-100' }%>
      </div>
      <div class="d-flex justify-content-center">
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>