<div class="card mw-100 w-50 p-4 m-5">
  <div class="card-body">
    <h2 class="card-title">Edit Notification</h2>
    <%= form_tag notification_path(@notification), :method => :put, :class => 'form card-text' do %>
      <%= render partial: "shared/message", locals: { object: @notification } %>
      <div class="mb-3">
        <%= label :notification, :subject, 'Subject', :class => 'form-label' %>
        <%= text_field :notification, :subject, :class => 'form-control' %>
      </div>
      <div class="mb-3">
        <%= label :notification, :body, 'Body', :class => 'form-label' %>
        <%= text_area :notification, :body, :class => 'form-control' %>
      </div>
      <div class="d-flex justify-content-center">
        <%= submit_tag 'Edit', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>