<div class="mw-100 w-75 p-4 m-5">
  <%= render partial: "shared/header_index", locals: { type: 'Notification', path: new_notification_path}%>
  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="w-50">Subject</th>
      <th scope="col" class="w-50">Created At</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <% if @notifications.any? %>
      <tbody>
      <% @notifications.each_with_index do |notification, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= notification.subject %></td>
          <td><%= time_ago_in_words(notification.created_at) %> ago</td>
          <td>
            <div class="d-flex align-items-end">
              <%= render partial: "shared/crud_buttons",
                         locals: {crud_view_path: notification_path(notification),
                                  crud_edit_path: edit_notification_path(notification),
                                  crud_delete_path: notification_path(notification)}%>
              <% if notification.published %>
                <h6 class="text-success ms-2">Published</h6>
              <% else %>
                <%= button_to "Publish", publish_notification_path(notification), method: :patch, :class => 'btn btn-success ms-2' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>