<div class="card mw-100 w-50 p-4 m-5">
  <div class="card-body">
    <h2 class="card-title">New Notification</h2>
    <%= form_tag notifications_path, :method => :post, :class => 'form card-text' do %>
      <%= render partial: "shared/message", locals: { object: @notification}%>
      <div class="mb-3">
        <%= label :notification, :subject, 'Subject', :class => 'form-label' %>
        <%= text_field :notification, :subject, :class => 'form-control', placeholder: "Subject" %>
      </div>
      <div class="mb-3">
        <%= label :notification, :body, 'Body', :class => 'form-label' %>
        <%= text_area :notification, :body, :class => 'form-control', placeholder: "Body" %>
      </div>
      <%= submit_tag 'Create', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>