<div class="mw-100 w-75 p-4 m-5">
  <h2>My Fines</h2>
  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Plate number</th>
      <th scope="col">Reason</th>
      <th scope="col">Place</th>
      <th scope="col">Issue Time</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment Status</th>
    </tr>
    </thead>
    <% if @fines.any? %>
      <tbody>
      <% @fines.each_with_index do |fine, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= fine.vehicle_plate_number %></td>
          <td><%= fine.reason %></td>
          <td><%= fine.place %></td>
          <td><%= fine.issue_time.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= sprintf('%.2f', fine.amount + (fine.penalty_amount ? fine.penalty_amount : 0.00)) %></td>
          <td>
            <% if fine.payment_status %>
              <span class="text-success ms-2">Paid</span>
            <% else %>
              <%= button_to "Pay", payment_fine_path(fine._id), method: :get, :class => 'btn btn-success' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>