<div class="mw-100 w-75 p-4 m-5">
  <%= render partial: "shared/header_index", locals: { type: 'Vehicle', path: new_vehicle_path }, formats: [:html]%>
  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Plate Number</th>
      <th scope="col">User</th>
      <th scope="col">Type</th>
      <th scope="col">Make</th>
      <th scope="col">Production Year</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <% if @vehicles.any? %>
      <tbody>
      <% @vehicles.each_with_index do |vehicle, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= vehicle.plate_number %></td>
          <td><%= vehicle.user.name + " " + vehicle.user.surname %></td>
          <td><%= vehicle.vehicle_type %></td>
          <td><%= vehicle.make %></td>
          <td><%= vehicle.production_year %></td>
          <td>
            <div class="d-flex align-items-end">
              <%= render partial: "shared/crud_buttons",
                         locals: { crud_view_path: vehicle_path(vehicle),
                                  crud_edit_path: edit_vehicle_path(vehicle),
                                  crud_delete_path: vehicle_path(vehicle) }, formats: [:html]%>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>