<div class="card mw-100 w-50 p-4 m-5">
  <div class="card-body">
    <h2 class="card-title">Vehicle information</h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h5>User: <small class="text-muted"><%= @vehicle.user.name %> <%= @vehicle.user.surname %></small></h5></li>
    <li class="list-group-item"><h5>Plate number: <small class="text-muted"><%= @vehicle.plate_number %></small></h5></li>
    <li class="list-group-item"><h5>Vehicle type: <small class="text-muted"><%= @vehicle.vehicle_type %></small></h5></li>
    <li class="list-group-item"><h5>Make: <small class="text-muted"><%= @vehicle.make %></small></h5></li>
    <li class="list-group-item"><h5>Production year: <small class="text-muted"><%= @vehicle.production_year %></small></h5></li>
  </ul>
</div>